meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
title #{headTitle}
if css
  if css.constructor === Array
    each href in css
      link(rel='stylesheet', href=`${href}`)
  else
    link(rel='stylesheet', href=`${css}`)