extends layout.pug

block content
  h1 Kitten Database
  p #{text}
  ul
    if kittens
      each kitty in kittens
        li= kitty.name
  if !kittens
    form(method='post' action='kitten-db')
      button(type='submit') Run test
  else
    a(href='/kitten-db') Return to start test page