extends layout.pug

block content
  h1 Lean Express/Mongo Starter
  ul
    li
      a(href='/hello-world') Hello World
    li
      a(href='/template-test') Template Test
    li
      a(href='/kitten-db') Kitten Database
    li
      a(href='/rest-api') REST API