extends layout.pug

block content
  h1 Lean Express/Mongo Starter
  ul
    li
      a(href='/hello_world') Hello World
    li
      a(href='/template_test') Template Test
    li
      a(href='/mongo_test') MongoDB & Mongoose Test
    li
      a(href='/rest_api_test') REST API Test